/* style.css */
/* styles that apply to every element in the body, unless overridden */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
	color: black;
	background-color: yellow; /* yellow */

}

h1 {color: blue;} /* Overrides body font color style above */

/* Styles any list item in an unordered list */

ul li {
	font-size: medium; /* Overrides body font size above */
	font-style: italic;
}